body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* Colors */
    --color-white: #fff;
    --color-darkslateblue: #173f7b;
  
    /* Border radiuses */
    --br-xl: 20px;
  }