<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./membership-status.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo Black:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="membership-status">
      <header class="rectangle-parent7">
        <div class="frame-child11"></div>
        <div class="frame-wrapper1">
          <img
            class="frame-child12"
            loading="lazy"
            alt=""
            src="Resources\icons8-arrow-left-50 (1).png"
            id="groupIcon"
          />
        </div>
        <div class="status">STATUS</div>
      </header>
      <section class="membership-status-inner">
        <div class="frame-parent4">
          <div class="ellipse-wrapper">
            <img
              class="ellipse-icon"
              loading="lazy"
              alt=""
              src="Resources\1-intro-photo-final.jpg"
            />
          </div>
          <div class="frame-parent5">
            <div class="john-eddie-container">
              <b class="john-eddie2"><%= name %></b>
            </div>
            <div class="john-eddie3">  <%= email %> </div>
          </div>
        </div>
      </section>
      <section class="membership-status-child">
        <div class="active-subscriber-parent">
          <b class="active-subscriber"> <%= subscriberState %> </b>
          <div class="expiry-date-label">
            <div class="until-30th-march">  <%= newdate %> </div>
          </div>
        </div>
      </section>
      <section class="renew-or-deactivate">
        <div class="renew-deactivate-parent">
          <button class="renew-deactivate">
            <div class="renew-deactivate-child"></div>
            <div class="renew" id="renew">RENEW</div>
          </button>
          <button class="rectangle-parent8">
            <div class="frame-child13"></div>
            <div class="deactivate" id="deactivate">DEACTIVATE</div>
          </button>
        </div>
      </section>
    </div>

    <script>
      var groupIcon = document.getElementById("groupIcon");
      if (groupIcon) {
        groupIcon.addEventListener("click", function (e) {
          // Please sync "profile" to the project
        });
      }
      // RENEW BUTTON;
      var renew = document.getElementById("renew");
      if (renew) {
        renew.addEventListener("click", async function (e) {
          // Please sync "profile" to the project
          
          var response =  await fetch('https://nigusitmemberapp.onrender.com/subscriptionstatus/renew', {
            method: 'POST',
            //mode: "cors",
            body: JSON.stringify({
              renew: true,
            }),
            credentials : "include",
            headers: {
              'Content-Type' : "application/json",
            }

          });

          response.status == 200 ? window.location = 'https://nigusitmemberapp.onrender.com/subscriptionstatus/' : alert("something went wrong")
        });
      }



      // DEACTIVATE BUTTON;
      var deactivate = document.getElementById("deactivate");
      if (deactivate) {
        deactivate.addEventListener("click", async function (e) {
          // Please sync "profile" to the project
         
          var response =  await fetch('https://nigusitmemberapp.onrender.com/subscriptionstatus/deactivate', {
            method: 'POST',
            //mode: "cors",
            body: JSON.stringify({
              deactivate: true
            }),
            credentials : "include",
            headers: {
              'Content-Type' : "application/json",
            }
          });

          response.status == 200 ? window.location = 'https://nigusitmemberapp.onrender.com/subscriptionstatus/' : alert("something went wrong")


        });
      }
      </script>
  </body>
</html>
