.circle-shape,
.icon-done {
  position: absolute;
  top: 40px;
  left: 33px;
  width: 60px;
  height: 45px;
}
.circle-shape {
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-crimson);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.lock-icon {
  height: 125px;
  flex: 1;
  position: relative;
}
.lock-icon-wrapper,
.password-successful-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.lock-icon-wrapper {
  flex: 1;
}
.password-successful-inner {
  align-self: stretch;
  padding: 0 var(--padding-59xl) 0 76px;
}
.your-password-reset {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.continue-to-home {
  flex: 1;
  position: relative;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}
.continue-button1,
.password-successful {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.continue-button1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-34xl);
  font-size: var(--font-size-xl);
  color: var(--color-crimson);
}
.password-successful {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 271px 67px 398px 68px;
  box-sizing: border-box;
  gap: 29.5px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 279px) {
  .continue-button1,
  .password-successful-inner {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
