.frame-child62 {
    height: 100px;
    width: 414px;
    position: relative;
    background-color: var(--color-darkslateblue-100);
    display: none;
    max-width: 100%;
  }
  .frame-child63 {
    width: 23px;
    height: 15px;
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  .frame-wrapper19 {
    height: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .password2 {
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 114px;
    z-index: 1;
  }
  .password-reset-inner,
  .rectangle-parent23 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent23 {
    flex: 1;
    background-color: var(--color-darkslateblue-100);
    padding: var(--padding-19xl) var(--padding-xl);
    gap: 107px;
  }
  .password-reset-inner {
    align-self: stretch;
    padding: 0 0 var(--padding-20xl);
    top: 0;
    z-index: 99;
    position: sticky;
  }
  .frame-child64 {
    height: 55px;
    width: 340px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    display: none;
    max-width: 100%;
  }
  .enter-current-password {
    position: relative;
    font-size: var(--font-size-base);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    z-index: 1;
  }
  .frame-child65,
  .rectangle-parent24 {
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    max-width: 100%;
  }
  .rectangle-parent24 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-sm);
    box-sizing: border-box;
    white-space: nowrap;
  }
  .frame-child65 {
    height: 55px;
    width: 340px;
    position: relative;
    display: none;
  }
  .enter-new-password {
    position: relative;
    font-size: var(--font-size-base);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    z-index: 1;
  }
  .frame-child66,
  .rectangle-parent25 {
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    max-width: 100%;
  }
  .rectangle-parent25 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-sm);
    box-sizing: border-box;
    white-space: nowrap;
  }
  .frame-child66 {
    height: 55px;
    width: 340px;
    position: relative;
    display: none;
  }
  .confirm-new-password {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 20px;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    z-index: 1;
  }
  .rectangle-parent26 {
    align-self: stretch;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-smi);
    box-sizing: border-box;
    white-space: nowrap;
    max-width: 100%;
  }
  .forgotten-password1 {
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
  }
  .forgotten-password-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .frame-parent21 {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .frame-parent20,
  .frame-parent21,
  .password-reset-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent20 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-11xl);
  }
  .password-reset-child {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-18xl);
    box-sizing: border-box;
  }
  .frame-child67 {
    height: 55px;
    width: 340px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkslateblue-100);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    max-width: 100%;
  }
  .reset-password {
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    z-index: 1;
  }
  .rectangle-parent27 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mini) var(--padding-59xl) var(--padding-base);
    background-color: var(--color-darkslateblue-100);
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    white-space: nowrap;
    max-width: 100%;
  }
  .rectangle-parent27:hover {
    background-color: var(--color-steelblue-100);
  }
  .password-reset,
  .password-reset-inner1,
  .rectangle-parent27 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .password-reset-inner1 {
    flex-direction: row;
    padding: 0 var(--padding-18xl);
    max-width: 100%;
  }
  .password-reset {
    margin: 0;
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    padding: 0 0 328px;
    gap: var(--gap-42xl);
    letter-spacing: normal;
  }
  @media screen and (max-width: 339px) {
    .rectangle-parent27 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 284px) {
    .rectangle-parent23 {
      gap: 107px 53px;
    }
  }
  